@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fall {
  from {
    transform: translateY(-10vh) rotate(0deg);
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.5;
  }
  to {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
  }
}

.cube-animation {
  animation: fall linear infinite;
  position: absolute;
}

